.page {
  background: #f8f8f8;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 60px 24px 60px 24px;
  background-color: #fff;
  border-radius: 16px;
}

.logo {
  width: 52px;
  height: 52px;
  margin: 0 auto 24px auto;
}
