.home-spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.home-title {
  font-size: 32px;
  font-weight: 600;
  color: #373737;
  text-align: center;
  margin-bottom: 24px;
}

.home-desc {
  color: #818181;
  font-size: 12px;
  line-height: 16px;
  margin-top: 24px;
  a {
    color: #818181;
  }
}
