//- bootstrap variables------
$primary: #202020;

$btn-border-width: 0;
$border-radius-lg: 0.8rem;

$modal-header-border-width: 0;
$modal-content-bg: #f8f8f8;
$modal-inner-padding: 0.5rem;

$input-border-width: 0;
$input-border-radius: 0.3rem;

$gray-100: #ffffff;

$toast-border-radius: 1rem;
$toast-background-color: #f8f8f8;
$toast-header-background-color: #f8f8f8;
$toast-header-color: #000000;
$toast-border-width: 0;
$toast-color: #000000;

$spinner-width: 5rem;
$spinner-height: 5rem;

//----custom variables
$btn-hover-color: white;
$font-family-base: 'Poppins';
