.btn-buynow {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
}

.description-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
}
